.criar-anuncio {
    display: flex;
    align-content: center;
    width: auto;
}

img {
    width: 20%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: auto;
}