.teste {
    display: flex;
    justify-content: center;
}

.container-criar {
    display: flex;
    flex-direction: column;
    background-color: #9F9F9F;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding: 3%;
    border: 1px solid #464646;
    border-radius: 20px;
}

.container-img-desc {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.container-img {
    display: flex;
    flex-direction: column;
}

.container-img img {
    width: 256px;
    height: 256px;
}

.container-desc {
    display: flex;
    flex-direction: column;
}

#nome_anuncio {
    font-size: 32px;
    text-align: center;
    background-color: #9F9F9F;
    border: none;
}

#nome_anuncio:focus {
    outline: none !important;
    border: none;
    /* box-shadow: 0 0 10px #719ECE; */
}

#desc_anuncio {
    background-color: #C4C4C4;
    border: 1px solid #464646;
    border-radius: 20px;
    padding: 3%;
    word-break: break-word;
}

.container-criar button {
    padding: 2%;
}

.input-contato {
    margin-top: 2%;
    border-radius: 20px;
    border: 1px solid #464646;
    padding: 2%;
}